@charset "utf-8";

html, body {height: 100%; margin:0}
header{
  background-color: yellow;
  height: 15%;
  overflow: scroll;
} 
nav {
  background-color: orange;
  height: 70%;
  float:left;
  width: 15%;
}
section {
  background-color: skyblue;
  height: 70%;
  float: left;
  width: 85%;
}
       
body{
  background-color: aliceblue;  
}
h2 {
  /* color: brown; */
  color: black;
  font-size: 2em;
  text-align: center;
}

h3 {
  /* text-shadow: 3px 3px 5px skyblue; */
  /* color: blue; */
  color: black;
}

p {
  /* font-family: "휴먼편지체"; */
  font-size: 1em;
  text-indent: 1em;
}

a {
  /* text-decoration: none; */
}

header {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  /* border:1px solid black */
}

nav ul {
  /* border-style: dotted; */
  border-width: 1px;
  /* border:1px solid black */
}

footer {
  /* border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
  background: orange; */

  background-color: violet;
  height: 15%;
  clear: both;


}